#root {
	-fx-pref-height : 300;
	-fx-padding: 0px 10px 5px 0px;
}

#columnList {
	-fx-pref-width : 200;
	-fx-pref-height : 290;
}

#buttons {
	-fx-pref-width : 80;
	-fx-spacing: 10px;
	-fx-alignment:baseline-center;
	-fx-padding: 10px;
}

.list-view {
	-fx-padding: 0px;
} 

.list-cell {
	-fx-pref-height: 25px;
}

.button {
	-fx-pref-height : 25; 
	-fx-pref-width : 80;
}