#root {
	-fx-padding:10px;
}

#paneSelector {
	-fx-pref-height : 50; 
	-fx-pref-width : 120;
}

#pane {
	-fx-pref-height : 300;
	-fx-padding: 0px 10px 5px 0px;
}

#memoTypePane,
#memoViewPane {
	-fx-background-color : WhiteSmoke;
	-fx-pref-height : 300;
}

#memoTypeList,
#memoViewList {
	-fx-pref-width : 200;
	-fx-pref-height : 290;
}

#memoTypeButtons,
#memoViewButtons {
	-fx-pref-width : 80;
	-fx-spacing: 10px;
	-fx-alignment:baseline-center;
	-fx-padding: 10px;
}

.list-view {
	-fx-padding: 0px;
} 

.list-cell {
	-fx-pref-height: 25px;
}

.button {
	-fx-pref-height : 25; 
	-fx-pref-width : 80;
}